/* Global Styles */
:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}

#bingo-logo-landing {
  height: 360px;
  margin-bottom: 50px;
  width: 500px;
}
#bitcoin-bingo-navbar {
  height: 220px;
  width: 290px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

.btn:hover {
  opacity: 0.8;
}

/* Utilities */
/* .container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
} */

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

img {
  width: 100%;
}

/* Forms */
.form .form-group {
  margin: 1.2rem 0;
}

.form .form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
}

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form select,
.form textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  width: 500px;
}

.form input[type='submit'],
button {
  font: inherit;
}

#green-button {
  background: #9ACD32;
  color: white;
  padding: 10px;
  margin-left: 25px;
}

.guest-links {
  font-size: 20px;
}

.guest-links-landing {
  background: #fff;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-left: 1450px;
  padding: 11px;
  width: 220px;
}

#login-button {
  border-radius: 6px;
  background: #ff9501;
  color: #fff;
  font-size: 20px;
  margin: auto;
  margin-top: 15px;
  padding: 11px;
  width: 170px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.navbar .welcome span {
  margin-right: 0.6rem;
}

#register-button {
  border-radius: 6px;
  background: #ff9501;
  color: #fff;
  font-size: 20px;
  margin: auto;
  margin-top: 15px;
  padding: 11px;
  width: 170px;
}

.round-img {
  border-radius: 50%;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.title {
  color: white;
  font-size: 50px;
}

/* Mobile Styles */
@media (max-width: 700px) {
  .container {
    margin-top: 8rem;
  }

  .hide-sm {
    display: none;
  }

  /* Navbar */
  .navbar {
    display: block;
    text-align: center;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  }

  .navbar h1 {
    margin-bottom: 1rem;
  }

  .navbar .welcome {
    display: none;
  }

  .dash-buttons a {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }
}

